.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* avatar border */
.css-1ytufz-MuiAvatarGroup-root .MuiAvatar-root{
  border: 2px solid #f9f9f93d  !important;   
}

.Customhoodies{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* grid-template-rows:1fr; */
  height: 100%;
}

.image-box{
  border: 1px solid red;
  /* padding: 10px; */
  position: relative;
}

.image-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnails{
  border: 1px solid red;
  /* padding: 10px; */
}

.thumbnails .thumbnail{
  border: 1px solid green;
  height: 120px;
  width: 120px;
  margin: 10px auto;
  /* border-radius: 100%;
  overflow: hidden; */
}

.thumbnails .thumbnail img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* front  */
.canvas-box.front {
  border: 2px solid rgb(0, 137, 0);
  position: absolute;
  height: 160px;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* back */
.canvas-box.back {
  border: 2px solid rgb(0, 137, 0);
  position: absolute;
  height: 250px;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  overflow: hidden;
}

/* right */
.canvas-box.left {
  border: 2px solid rgb(0, 137, 0);
  position: absolute;
  height: 200px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-125%, -15%);
  overflow: hidden;
}

/* right */
.canvas-box.right {
  border: 2px solid rgb(0, 137, 0);
  position: absolute;
  height: 200px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(20%, -15%);
  overflow: hidden;
}

